<div data-page="video" class="page">
  <div id="content-video" class="page-content page-video infinite-scroll">
    <!-- Video iframe -->
   
<!-- 
    <iframe id="youtube-player" width="560" height="315" src="https://www.youtube.com/embed/3rsGPNChtVU" frameborder="0" allowfullscreen></iframe> -->
    <dl8-img
    title="Test Video"
    author="Delight VR"
    poster="https://delight-vr.com/examples/test-image-poster.jpg"
    src="1.mp4"
    display-mode="inline"
    format="STEREO_360_TB">
  </dl8-img>


                <!-- Infos -->
                <!-- <div class="page-video-title">App test</div>
                <div class="page-video-details">
                  <div class="page-video-left">
                    <img class="page-video-author-img" src="img/avatar.jpg" alt="">
                    <div class="page-video-author">
                      <span class="page-video-username">Facundo</span>
                      <span class="page-video-date">3 days ago</span>
                    </div>
                  </div>
                  <div class="page-video-right">
                    <span class="page-video-views">12 527 views</span>
                    <progress class="page-video-progress" max="100" value="90"></progress>
                    <span class="page-video-likes"><i class="demo-icon icon-thumbs-up"></i><span class="page-video-likes-count">18</span><i class="demo-icon icon-thumbs-down"></i><span class="page-video-dislikes-count">2</span></span>
                  </div>
                </div>
                <div class="page-video-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<br /><br />Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.<br /><br />An link example : <a href="#">http://www.example.fr</a></div> -->
                <!-- Comments -->
                <!-- <div class="page-video-comments-div">
                  <span class="page-video-comments-title"><i class="icon ion-ios-chatboxes"></i>Comments (<span class="page-video-comments-count">24</span>)</span>
                  <ul class="comments-list" id="comment-list">
                  </ul>
                  <span id="infinite-loader-comments" class="preloader"></span>
                </div>
              </div> -->
  </div>
</div>
